<div>
    <div class = "title">
        <h2>Lista de consultorios</h2>
        <button type="button" class = "btn btn-primary" routerLink ="/home/addConsulting"> Agregar consultorio </button>
    </div>
    
    <div class ="container">
        <ul>
            <li *ngFor="let item of consultingArray">
                {{item.street}} -
                {{item.street_number}}
                <button class ="btn btn-primary" (click)="deleteConsulting(item.id!)">
                    Eliminar
                </button>
                <button routerLink="/home/editConsulting/{{item.id}}">
                    Editar
                </button>
            </li>
        </ul>
        <button routerLink="/home">
            Pagina anterior
        </button>
    </div>
</div>