
<div class="wrapper">
    <div class="body">
      <img class="icon" src="../../assets/img/hospital.png" alt="img login">
      <h1>Register User</h1>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="Enter username">
        <label>Username</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder="Enter password">
        <label>Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" placeholder="Enter password">
        <label>Repeat password</label>
      </div>
      <div class="d-grid gap-2 mt-3">
        <button type="button" class="btn btn-primary btn-lg">Accept</button>
      </div>
      <a href="" routerLink="/login">Back</a>
    </div>   
  </div>