.hover-underline {
    position: relative;
    text-decoration: none; 
  }

  .hover-underline span {
    position: relative;
  }

  .hover-underline span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: black; 
    transition: width 0.3s ease-in-out; 
  }

  .hover-underline:hover span::after {
    width: 100%; 
  }

  .custom-hover:hover span {
    color: red; 
  }
  
 
.custom-hover {
  position: relative;
  text-decoration: none;
}

.custom-hover span {
  position: relative;
  color: inherit; 
  transition: color 0.3s ease-in-out;
}

.custom-hover span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.custom-hover:hover span {
  color: red; 
}

.custom-hover:hover span::after {
  width: 100%; 
  background-color: red; 
  
}

.logo-small {
  width: 35px;
  height: auto;
}
