
<div class = "title">
    <h2>Lista de especialidades</h2>
    <button type="button" class="btn btn-success" routerLink="/home/addSpecialty">Add specialty</button>
    <button routerLink="/home">Pagina anterior</button>
</div>

<div class="wrapper"> 
    <ul>
        <li *ngFor="let item of specialtyArray">
            {{item.id}} -
            {{item.name}} -
            {{item.price}}
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-danger" (click)="deleteSpecialty(item.id!)">
                Eliminar
            </button>
            <button class="btn btn-primary" routerLink="/home/editSpecialty/{{item.id}}">                    
                Editar 
            </button>
        </div>
        </li> 
    </ul>
</div>
