
<div class="wrapper">     
    <div *ngIf="!loading" class="body">
      <img class="icon" src="../../assets/img/hospital.png" alt="img login">
      <h1>Registrar doctor</h1>
      <form [formGroup]="registerForm" novalidate>
        <input formControlName="tuition_number" type="text" class="form-control mb-1" placeholder="Ingrese su matricula">
        <input formControlName="age" type="text" class="form-control mb-1" placeholder="Ingrese su edad">
        <input formControlName="firstName" type="text" class="form-control mb-1" placeholder="Ingrese su nombre">
        <input formControlName="lastName" type="text" class="form-control mb-1" placeholder="Ingrese su apellido">
        <input formControlName="email" type="email" class="form-control mb-1" placeholder="Ingrese su email">
        <input formControlName="password" type="password" class="form-control mb-1" placeholder="Ingrese su contraseña">
        <input formControlName="repassword" type="password" class="form-control mb-1" placeholder="Repita su contraseña">        
        <div class="mb-3">
          <select formControlName="specialty" class="form-select" id="customSelect">
              <option value="" disabled selected>Selecciona tu especialidad</option>
              <option *ngFor="let item of specialtyArray" [value]="item.id">{{item.name}}</option>
          </select>
      </div>
        <span *ngIf="registerForm.errors?.['passwordmatcherror']" class="">Las contraseñas no son iguales</span>
        <re-captcha (resolved)="captchaResuelto($event)" siteKey="6Lclx78qAAAAAC95CZEKViCTN8z0WtxdxWKglfKT"></re-captcha>
        <div class="d-grid gap-2 mt-2">
            <button [disabled]="registerForm.invalid" (click)="addDoctor()" type="button" class="btn btn-primary btn-lg">Aceptar</button>
        </div>
        </form>
        <a href="/login" (click)="showLoading()">Pagina anterior</a>
    </div>   
    <div *ngIf="loading" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

