
<div class="container mt-2 text-center col-md-6">
    <div class="alert alert-info text-center mx-auto" style="width: 100%; max-width: 800px;" role="alert">
        <h4 class="alert-heading">{{operation}} consultorio y doctor</h4>
        <p>Complete los siguientes campos con los datos solicitados.</p>
    </div>
    <form [formGroup]="doconsForm">
        <div class="mb-3">
            <select formControlName="doctor" class="form-select" id="customSelect">
                <option value="" disabled selected>Seleccione al doctor</option>
                <option *ngFor="let item of doctorArray" [value]="item.id">{{item.firstName}} {{item.lastName}}</option>
            </select>
        </div>
        <div class="mb-3">
            <select formControlName="consulting" class="form-select" id="customSelect">
                <option value="" disabled selected>Seleccione el consultorio</option>
                <option *ngFor="let item of consultingArray" [value]="item.id">{{item.street}} {{item.street_number}}</option>
            </select>
        </div>
        <div>
            <button class="btn btn-secondary"  routerLink="/doconsList">
                Pagina anterior
            </button>
            <button class="btn btn-success ms-2" routerLink="/doconsList" (click)="addDoctor_consulting()">Aceptar</button>
        </div>
    </form>
</div>