<div class="wrapper" style="background-color: var(--bs-success-bg-subtle);">
    <div *ngIf="item" class="border rounded p-1" style="background-color: var(--bs-light-bg-subtle);">
        <form [formGroup]="appointmentForm" class="row g-3">
            <div class="col-md-4 ms-2">
                <label for="inputEmail4" class="form-label">Email</label>
                <input class="form-control" type="text" value="{{item.doctor.firstName}} {{item.doctor.lastName}}" aria-label="readonly input example" readonly>
            </div>
            <div class="col-md-5">
                <label for="inputPassword4" class="form-label">Especialidad</label>
                <input class="form-control" type="text" value="{{item.doctor.specialty.name}}" aria-label="readonly input example" readonly>
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Dirección</label>
                <input class="form-control" type="text" value="{{item.consulting.street}} {{item.consulting.street_number}}" aria-label="readonly input example" readonly>
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">DNI</label>
                <input class="form-control" type="text" value="{{user.dni}}" aria-label="readonly input example" readonly>
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Nombre paciente</label>
                <input class="form-control" type="text" value="KIMEY PREGUNTARLE" aria-label="readonly input example" readonly>
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Fecha</label>
                <input formControlName="appoDate" class="form-control" type="date">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Horario</label>
                <input formControlName="appoTime" class="form-control" type="time">
            </div>
            <button type="button" (click)="createAppointment()" class="btn btn-primary btn-lg">Reservar</button>
            <button type="button"  class="btn btn-primary btn-lg" routerLink="/specialtyList">Pagina anterior</button>
        </form>
    </div>
    
</div>
<button (click)="createAppointment()">afdasdfdaf</button>

