
<div class = "title">
    <h2>Lista de tratamientos</h2>
    <button type="button" class="btn btn-primary btn-lg mb-2" routerLink="/home/addTreatment">Add treatment</button>
    <div class="alert alert-primary w-25 p-3 mt-3 " role="alert">
        Trabajo en progreso, gracias por esperar!
    </div>
</div>

<div> 
    <ul>
        <li *ngFor="let item of treatmentArray">
            {{item.name}} -
            {{item.description}} -
            {{item.price}}
            <button class="btn btn-danger" (click)="deleteTreatment(item.id!)">
                Eliminar 
        </button>
        <button routerLink="/home/editTreatment/{{item.id}}">                    
            Editar 
        </button>
        </li> 
    </ul>
    <a href="" routerLink="/home">Pagina anterior</a>
</div>
