<div class = "container mt-2 text-center">
    <div>
        <h2>Lista de tratamientos</h2>
        <button type="button" class="btn btn-secondary" routerLink="/home">Pagina anterior</button>
        <button type="button" class="btn btn-success ms-2" routerLink="/home/addTreatment">Agregar tratamiento</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of treatmentArray">
                <td>{{item.id}} </td>
                <td>{{item.name}}</td> 
                <td>{{item.description}}</td> 
                <td>{{item.price}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteTreatment(item.id!)">Eliminar</button>  
                    <button type="button" class="btn btn-info ms-2" routerLink="/home/editTreatment/{{item.id}}"> Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>