
<div class="container mt-2 text-center col-md-6">
    <div class="alert alert-info text-center mx-auto" style="width: 100%; max-width: 800px;" role="alert">
        <h4 class="alert-heading">Agregar nuevo consultorio</h4>
        <p>Complete los siguientes campos con los datos solicitados.</p>
    </div>
    <form [formGroup]="consultingForm" (ngSubmit)="addConsulting()">
        <input formControlName="street" type="text" class="form-control mb-3" placeholder="Ingrese la calle del consultorio">
        <input formControlName="street_number" type="number" class="form-control mb-3" placeholder="Ingrese el numero de calle del consultorio">
        <div>
            <button class="btn btn-secondary"  routerLink="/home/consultingList">
                Pagina anterior
            </button>
            <button class="btn btn-success ms-2">Agregar consultorio</button>
        </div>
    </form>
</div>