<app-navbar></app-navbar>

<div *ngIf="user.codUser === 1"> <!--User-->
   <!-- Cartel de bienvenida centrado -->
    <div class="container mt-5 pt-4">
    <div class="alert alert-light d-flex align-items-center" role="alert">
      <i class="bi bi-emoji-smile-fill" style="font-size: 30px; color: #4be253;"></i>
      <div class="ms-3">
        <h5 class="mb-0"> Hola {{user.firstName}} {{user.lastName}}!</h5>
        <p class="mb-0">Que tengas un gran día. Seguí cuidando tu salud con tu Portal Paciente.</p>
      </div>
    </div>
  </div>

  <!-- Contenedor de las cards con simetría respecto al cartel -->
<div class="container mt-4">
  <div class="row justify-content-center">
    <!-- Card 1: Solicitar Turno -->
    <div class="col-12 col-md-6 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Solicitar Turno</h5>
          <p class="card-text">Agendá tu próximo turno de manera fácil y rápida.</p>
          <div class="text-center">
            <img src="assets\img\images.png" class="rounded img-fluid" style="max-height: 200px; object-fit: cover;" alt="Imagen Solicitar Turno">
          </div>
          <a href="" class="btn btn btn-success" routerLink="/specialtyList">Solicitar</a>
        </div>
      </div>
    </div>

    <!-- Card 2: Ver Todos los Turnos -->
    <div class="col-12 col-md-6 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Ver Todos los Turnos</h5>
          <p class="card-text">Revisa todos tus turnos agendados en el portal.</p>
          <div class="text-center">
            <img src="assets\img\calendario.png" class="rounded img-fluid" style="max-height: 200px; object-fit: cover;" alt="Imagen Ver Todos los Turnos">
          </div>
          <a href="#" class="btn btn-success" routerLink="/appointmentList">Ver Turnos</a>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-12">
        <div class="card shadow-sm text-right">
          <div class="card-body">
            <h5 class="card-title">Próximo Turno</h5>
            <p class="card-text">Tu próximo turno es el <strong>15 de diciembre de 2024</strong>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


  

  

<div *ngIf="user.codUser === 0"> <!--Admin-->
  <div class="container mt-4">
    <div class="row justify-content-center">
      <!-- Card 1: Administrar especialidades -->
      <div class="col-12 col-md-6 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Administrar especialidades</h5>
            <p class="card-text">Gestiona las especialidades disponibles en el sistema.</p>
            <a href="#" class="btn btn-success" routerLink="/specialtyList">Ver especialidades</a>
          </div>
        </div>
      </div>
  
      <!-- Card 2: Administrar consultorios -->
      <div class="col-12 col-md-6 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Administrar consultorios</h5>
            <p class="card-text">Administra los consultorios disponibles para los turnos.</p>
            <a href="#" class="btn btn-success" routerLink="/home/consultingList">Ver consultorios</a>
          </div>
        </div>
      </div>
  
      <!-- Card 3: Administrar tratamientos -->
      <div class="col-12 col-md-6 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Administrar Tratamientos</h5>
            <p class="card-text">Gestiona los tratamientos que ofrece el sistema.</p>
            <a href="#" class="btn btn-success" routerLink="/home/treatmentList">Ver tratamientos</a>
          </div>
        </div>
      </div>
  
      <!-- Card 4: Administrar doctores -->
      <div class="col-12 col-md-6 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Administrar doctores</h5>
            <p class="card-text">Agrega, edita o elimina doctores del sistema.</p>
            <a href="#" class="btn btn-success" routerLink="/home/doctorList">Ver doctores</a>
          </div>
        </div>
      </div>

  
      <!-- Card 5: Administrar doctores en consultorios -->
      <div class="col-12 col-md-6 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Administrar doctores en consultorios</h5>
            <p class="card-text">Asocia doctores con los consultorios correspondientes.</p>
            <a href="#" class="btn btn-success" routerLink="/doconsList">Ir a seccion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

