<app-navbar></app-navbar>

<div *ngIf="codUser == 1"> <!--User-->
    <div class="wrapper">
      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">adlfkalf</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary" routerLink="/specialtyList">Sacar Turno</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 ">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver turnos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div *ngIf="codUser == 0"> <!--Admin-->
    <div class="wrapper">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary btn-lg mb-2" routerLink="/specialtyList">Administrar especialidades</button>
        <button type="button" class="btn btn-primary btn-lg mb-2" routerLink="consultingList">Administrar consultorios</button>
        <button type="button" class="btn btn-primary btn-lg mb-2" routerLink="treatmentList">Administrar Tratamientos</button>
        <button type="button" class="btn btn-primary btn-lg mb-2" routerLink="doctorList">Administrar doctores</button>
        <button type="button" class="btn btn-primary btn-lg mb-2" routerLink="/doconsList">Administrar doctores en consultorios</button>
      </div>
    </div>
</div>

