<div class = "container mt-2 text-center">
    <div>
        <h2>Lista de doctores</h2>
        <button type="button" class="btn btn-secondary" routerLink="/home">Pagina anterior</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Epecialidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of doctorArray">
                <td>{{item.id}} </td>
                <td>{{item.firstName}}</td> 
                <td>{{item.lastName}}</td>
                <td>{{item.specialty}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteDoctor(item.id!)">Eliminar</button>  
                    <button type="button" class="btn btn-info ms-2" routerLink="/home/editDoctor/{{item.id}}"> Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

