
<div class = "title">
    <h1>CRUD SPECIALTY WORKS!!!!!!!!!!!!!!!</h1>
</div>

<div class = "container"> 
    <form [formGroup]="specialtyForm" (ngSubmit)="addSpecialty()">
        <div>Id for specialty will be automatically generetared</div>
        <input formControlName="name" type="text" class="form-control" placeholder="Ingrese nombre de la espcialidad">
        <input formControlName="price" type="number" class="form-control" placeholder="Ingrese precio de la especialidad">
        <div>
            <button>
                Crear especialidad
            </button>
        </div>
    </form>
    <button class="btn btn-primary" (click)="getAllSpecialties()">
        Get Specialties from bd
    </button>
    <ul>
        <li *ngFor="let item of specialtyArray">
            {{item.id}} -
            {{item.name}} -
            {{item.price}}
            <button class="btn btn-primary" (click)="deleteSpecialty(item.id!)">
                Delete specialty
           </button>
           <button routerLink="{{item.id}}" (click)="getSpecialty(item.id!)">
                Edit Specialty
           </button>
        </li> 
    </ul>
</div>