
<div *ngIf="user.codUser === 0" class = "container mt-2 text-center">
    <div class="alert alert-info text-center mx-auto" style="width: 100%; max-width: 800px;" role="alert">
        <h4 class="alert-heading">Lista de doctores en consultorios</h4>
        <p>Usted puede agregar, editar o eliminar docotores en consultorios.</p>
    </div>
    <div class="table-responsive mt-3 mb-5">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">ID</th>
                    <th scope="col">Vigencia</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Calle</th>
                    <th scope="col">Numero de calle</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of doconsArray">
                    <td>{{item.id}} </td>
                    <td>{{item.vigency}}</td> 
                    <td>{{item.doctor.firstName}} {{item.doctor.lastName}}</td> 
                    <td>{{item.doctor.specialty.name}}</td>
                    <td>{{item.consulting.street}}</td>
                    <td>{{item.consulting.street_number}}</td>
                    <td>
                        <i *ngIf="item.vigency" type="button" class="bi bi-trash text-danger cursor-pointer" style="font-size: 1.2rem;" (click)="getDoctor_consulting(item.id!)"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>  
                        <i *ngIf="item.vigency" type="button" class="bi bi-pencil text-dark cursor-pointer ms-3" style="font-size: 1.2rem;"  routerLink="/home/editDocons/{{item.id}}"></i>
                        <i *ngIf="!item.vigency" type="button" class="bi bi-arrow-clockwise text-success cursor-pointer ms-3" style="font-size: 1.2rem;"  (click)="getDoctor_consulting(item.id!)"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop2"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary" routerLink="/home">Pagina anterior</button>
        <button type="button" class="btn btn-success ms-2" routerLink="/home/addDocons">Agregar instancia</button>
    </div>    
</div>

<div *ngIf="user.codUser === 1" class = "container mt-2 text-center">
    <div class="alert alert-info text-center w-75 mx-auto" role="alert">
        <h4 class="alert-heading">Seleccione un consultorio</h4>
        <p>Para continuar, elija un consultorio para esta especialidad de la lista.</p>
    </div>
    <div class="table-responsive mt-3 mb-5">
        <table class="table table-striped table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Doctor</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Calle</th>
                <th scope="col">Numero de calle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of doconsArray">
                <td>{{item.doctor.firstName}} {{item.doctor.lastName}}</td> 
                <td>{{item.doctor.specialty.name}}</td>
                <td>{{item.consulting.street}}</td>
                <td>{{item.consulting.street_number}}</td>
                <td>
                    <button type="button" class="btn btn-success ms-2" routerLink="/addAppointment/{{item.id}}">
                        <i class="bi bi-calendar-check"></i> Reservar turno
                    </button>
                </td>
                
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-secondary" routerLink="/specialtyList">Pagina anterior</button>
</div>

<!-- Modal -->
<div aria-required="true" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Antes de continuar....</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Esta seguro que quiere dar de baja a este doctor?
        </div>
        <div class="modal-footer">
            <button type="button" (click)="vigencyDoctor_consulting()"  class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
        </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div aria-required="true" class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Antes de continuar....</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Esta seguro que quiere dar de alta a este doctor?
        </div>
        <div class="modal-footer">
            <button type="button" (click)="reactivateDoctor_consulting()"  class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
        </div>
        </div>
    </div>
</div>


